.btn

	&-download
		display inline-block
		padding ($padding/2) $padding
		background #444
		color #FFF
		text-decoration none
		margin-right ($spacing/4)
		border-radius 3px
		transition all 250ms

		&:hover
			background $c-main

