body
	font-family $font-family-base
	line-height $gratio
	color $text-color
	background $text-back
a
	color $c-main

h1, h2, h3, h4, h5, h6
	font-family $font-family-head
	font-weight normal
	line-height 1
	margin 0 0 $spacing 0
	text-rendering optimizeLegibility
h1
	font-size $gratio * 4em
h2
	font-size $gratio * 1.5em
h3
	font-size $gratio * 0.8em
h4
	font-size $gratio * 1em
h5,
h6
	font-size 1em
	font-weight bold

p
	margin 0 0 $spacing
blockquote
	font-style italic
ul, li
	margin 0
	padding 0
code
	display block
	white-space nowrap
	max-width 100%
	overflow auto
	padding ($padding/2) $padding
	background #eee
	color #000

table
	width 100%
td
	padding ($padding/4) ($padding/2)

.fleft
	float left
.fright
	float right
