body
	font-family: $font-family-base
	color: $text-color
	background: $text-back
a
	color: $c-main

h1, h2, h3, h4, h5, h6
	color: #000
	font-family: $font-family-head
	font-weight: normal
	line-height: 1
	margin: 0 0 0.5em 0
	text-rendering: optimizeLegibility
h1
	font-size: 2em
	margin-bottom: 1em
h2
	font-size: 1.5em
h3
	font-size: 1.4em
h4
	font-size: 1.3em
h5
	font-size: 1.2em
h6
	font-size: 1em
p
	font-size: em(15)
	margin: 0 0 em($spacingN, 15)
blockquote
	font-style: italic
ul, li
	margin: 0
	padding: 0

.fleft
	float: left
.fright
	float: right